.circle-container .book__circle {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    z-index: -2;
}

.circle-container .book__circle:nth-child(1) {
    background: linear-gradient(125deg, rgba(146.62, 15.27, 15.27, 0.40) 0%, #FF7A00 100%);
    top: 8%;
    left: 5%;
    width: 467px;
    height: 411px;
}

.circle-container .book__circle:nth-child(2) {
    background: linear-gradient(45deg, #A74098, #A74098); /* розовый*/
    top: -10%;
    left: 82%;
    width: 500px;
    height: 500px;
}

.circle-container .book__circle:nth-child(3) {
    background: linear-gradient(45deg, rgb(147, 15, 15, 0.4), #FF7A00); /* оранжевый */
    left: 86%;
    top: 76%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.circle-container .book__circle:nth-child(4) {
    background: linear-gradient(45deg, #28072E, #22091E);
    width: 320px;
    height: 320px;
    top: 63%;
    right: 72%;
}

.circle-container .book__circle:nth-child(5) {
    background: linear-gradient(125deg, rgba(164.50, 66.47, 175.31, 0.50) 0%, #0737E1 100%);
    left: 62%;
    top: 41%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.circle-container .book__circle:nth-child(6) {
    background: linear-gradient(125deg, #A74098 0%, #A74098 100%);
    top: 50%;
    left: 33%;
    width: 250px;
    height: 250px;
}

.book__main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0 106px 0;
    gap: 230px;
}

.book__main__materials h2,
.book__main__materials h3{
    color: white;
    font-family: Inter, sans-serif;
}

.book__main__materials h2{
    font-size: 40px;
    margin-bottom: 55px;
}

.book__main__materials__block{
    width: 537px;
    height: 227px;
    border: 2px solid white;
    border-radius: 21px;
    display: flex;
    background: rgba(0, 0, 0, 0.45);
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    gap: 46px;
    margin-bottom: 86px;
}

.book__main__materials__block__image{
    width: 216px;
    height: 149px;
    max-width: 216px;
    max-height: 149px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
}

.book__main__materials__block__image h4{
    color: black;
    font-family: Inter, sans-serif;
    font-size: 20px;
}

.book__main__materials__block__href{
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.book__main__materials a{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.book__main__materials h3{
    font-size: 31px;
    margin-bottom: 60px;
}

.book__main__materials__sites{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 26px;
}

.book__main__passed{
    color: white;
}

.book__main__passed h2{
    font-family: Molle, sans-serif;
    font-size: 40px;
    margin-bottom: 55px;
}

.book__main__passed h3{
    font-size: 31px;
    font-family: Inter, sans-serif;
    margin-bottom: 26px;
}

.book__main__passed__list{
    list-style-type: none;
    padding: 0;
}

.book__main__passed__list p{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
}