.circle-container .index-circle {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    filter: blur(20px);
    z-index: -2;
}

.circle-container .index-circle:nth-child(1) {
    background: linear-gradient(45deg, #A542AF, rgba(7, 55, 225, 0.5));
    width: 617.01px;
    height: 583.5px;
}

.circle-container .index-circle:nth-child(2) {
    background: linear-gradient(45deg, rgb(147, 15, 15, 0.4), #FF7A00);
    /* оранжевый */
    left: 60%;
    top: 61%;
    transform: translate(-50%, -50%);
    width: 494px;
    height: 494px;
}

.circle-container .index-circle:nth-child(3) {
    background: linear-gradient(45deg, #A74098, #A74098);
    /* правый угол круг */
    top: -1100px;
    left: 78%;
    width: 494px;
    height: 494px;
}

.circle-container .index-circle:nth-child(4) {
    background: linear-gradient(45deg, #28072E, #22091E);
    width: 501px;
    height: 501px;
    bottom: -22%;
    top: -900px;
    left: 15%;
}