.circle-container .circle {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    z-index: -2;
}

.circle-container .circle:nth-child(1) {
    background: linear-gradient(45deg, #A542AF, rgba(7, 55, 225, 0.5)); /* синий*/
    top: 8%;
    left: 9%;
    width: 400px;
    height: 400px;
}

.circle-container .circle:nth-child(2) {
    background: linear-gradient(45deg, #A74098, #A74098); /* розовый*/
    top: -10%;
    left: 82%;
    width: 500px;
    height: 500px;
}

.circle-container .circle:nth-child(3) {
    background: linear-gradient(45deg, rgb(147, 15, 15, 0.4), #FF7A00); /* оранжевый */
    left: 86%;
    top: 76%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.circle-container .circle:nth-child(4) {
    background: linear-gradient(45deg, #28072E, #22091E);
    width: 320px;
    height: 320px;
    top: 63%;
    right: 72%;
}

.circle-container .circle:nth-child(5) {
    background: linear-gradient(45deg, rgb(147, 15, 15, 0.4), #FF7A00); /* оранжевый */
    left: 62%;
    top: 41%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.circle-container .circle:nth-child(6) {
    background: linear-gradient(45deg, #A542AF, rgba(7, 55, 225, 0.5)); /* синий*/
    top: 68%;
    left: 40%;
    width: 250px;
    height: 250px;
}

.level__main {
    width: 100%;
    padding: 80px 390px 80px 390px;
    display: flex;
    gap: 20px;
}

.level__main__task {
    width: 661px;
    max-width: 661px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.level__main__right__game,
.level__main__right__testcases li,
.level__main__task__block {
    width: 100%;
    border: 2px solid white;
    border-radius: 21px;
    background: rgba(0, 0, 0, 0.45);
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
}

.level__main__task__block {
    min-width: 660px;
}

.level__main__button {
    min-width: auto;
}

.level__main__task__block p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.level__main__task textarea {
    resize: none;
    min-height: 379px;
}

.level__main__task input[type='button'] {
    width: 277px;
    height: 84px;
    font-family: Molle, sans-serif;
    font-size: 30px;
}

.level__main__task input[type='button']:hover {
    cursor: pointer;
}

.level__main__right {
    width: 100%;
    max-height: 645px;
    overflow: auto;
}

.level__main__right__game {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level__main__right__testcases {
    margin: 15px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.level__main__right__testcases li {
    width: auto;
    padding: 5px 10px;
    font-family: Inter, sans-serif;
}

.level__main__right__testcases .passeTestCase {
    border-color: greenyellow;
}

.level__main__right__testcases .notPasseTestCase {
    border-color: red;
}

.level__main__right__game h2 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    text-align: center;
}