.text-zagolovok {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
}

.text-information {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 200;
}

.text-information,
.text-zagolovok {
    margin-bottom: 25px;
    padding: 5px;
    word-wrap: break-word;
    font-family: "Inter", sans-serif;
}

.index__main {
    display: flex;
    padding: 10px 250px 10px 325px;
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
}

.main-text {
    min-width: 390px;
}

.side-images {
    padding-left: 30px;
    position: relative;
    width: calc(100% - 390px);
    height: auto;
    background-image: url("../../images/Index/vector.png");
    background-repeat: no-repeat;
    background-position: 80%, center;
}

.js {
    top: 180px;
    left: 80px;
}

.c-sharp {
    left: 725px;
    top: 183px;
}

.py {
    left: 281px;
    top: 494px;
}

.c-sharp,
.js,
.py {
    position: absolute;
    width: 190px;
    margin-bottom: 10px;
}
