.admin__test__main {
    width: 100%;
    min-height: 70vh;
    padding: 80px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin__test__main .adminEditing .textbox {
    min-width: 300px;
}

.questions {
    font-family: "Inter", sans-serif;
    color: white;
    margin-top: 20px;
    min-width: max-content;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 20px;
    padding: 20px;
}

.questions ul {
    list-style-type: none;
    padding: 0;
}

.questions__list,
.questions__list__element__answers {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.questions__list {
    gap: 25px;
}

.questions__list .text_input {
    background: none;
    color: white;
    border: none;
    outline: none;
}

.questions__list .question_text_input {
    width: 500px;
    font-size: 16px;
    font-weight: bold;
}

.questions__list .answer_text_input {
    width: 100%;
}

.questions__list__element__answers {
    gap: 10px;
}

.questions__list__element__text {
    font-weight: bold;
    margin: 0;
}

.questions__add,
.answer__add,
.questions__remove,
.change_button {
    background-color: greenyellow;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    min-height: 20px;
}

.questions__add {
    height: 30px;
}

.questions__remove {
    background-color: red;
}

.change_button {
    background-color: yellow;
}

.questions__list__element_flex,
.questions__list__element__answers__answer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.questions__list__element_flex {
    margin-bottom: 10px;
}

.question_file {
    display: none;
}

.question_file_label {
    background-color: deeppink;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.questions__list__element__image {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.questions__list__element__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.delete_image_button {
    width: 70px;
    height: 30px;
    position: absolute;
    top: calc(100% - 35px);
    left: calc(100% - 75px);
    border-radius: 20px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: bold;
}